*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kitty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  padding: 1rem;
}
.aboutKitty__img {
  padding: 1rem;
  width: 700px;
  height: auto;
}


.p {
  font-size: 1.2rem;
  color: #000;
}